<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Fraisr
 * @package    Fraisr_Connect
 * @copyright  Copyright (c) 2013 das MedienKombinat Gmbh <kontakt@das-medienkombinat.de>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     André Herrn <andre.herrn@das-medienkombinat.de>
 */
-->
<config>
    <modules>
        <Fraisr_Connect>
            <version>0.1.2</version>
        </Fraisr_Connect>
    </modules>
    <global>
        <blocks>
            <fraisrconnect>
                <class>Fraisr_Connect_Block</class>
            </fraisrconnect>
        </blocks>
        <models>
           <fraisrconnect>
               <class>Fraisr_Connect_Model</class>
               <resourceModel>fraisrconnect_mysql4</resourceModel>
            </fraisrconnect>
            <fraisrconnect_mysql4>
                <class>Fraisr_Connect_Model_Mysql4</class>
                <entities>
                    <cause>
                        <table>fraisrconnect_cause</table>
                    </cause>
                    <category>
                        <table>fraisrconnect_category</table>
                    </category>
                </entities>
            </fraisrconnect_mysql4>
        </models>
        <helpers>
            <fraisrconnect>
                <class>Fraisr_Connect_Helper</class>
            </fraisrconnect>
        </helpers>
        <resources>
            <fraisrconnect_setup>
                <setup>
                    <module>Fraisr_Connect</module>
                    <class>Fraisr_Connect_Model_Resource_Setup</class>
                </setup>
            </fraisrconnect_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <fraisrconnect>
                <use>standard</use>
                <args>
                    <module>Fraisr_Connect</module>
                    <frontName>fraisr</frontName>
                </args>
            </fraisrconnect>
        </routers>
        <translate>
            <modules>
                <Fraisr_Connect>
                    <files>
                        <default>Fraisr_Connect.csv</default>
                    </files>
                </Fraisr_Connect>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <fraisrconnect>
                <use>admin</use>
                <args>
                    <module>Fraisr_Connect</module>
                    <frontName>fraisrconnect</frontName>
                </args>
            </fraisrconnect>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Fraisr_Connect>
                    <files>
                        <default>Fraisr_Connect.csv</default>
                    </files>
                </Fraisr_Connect>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <fraisrconnect_synchronisation_cause>
                <schedule>
                    <cron_expr>30 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>fraisrconnect/observer::synchronizeCauses</model>
                </run>
            </fraisrconnect_synchronisation_cause>
        </jobs>
    </crontab>
    <default>
        <fraisrconnect>
            <general>
                <active>0</active>
                <sandbox>1</sandbox>
            </general>
            <catalog_export>
                <scope>#global#</scope>
                <description_attribute>description</description_attribute>
            </catalog_export>
            <static>
                <support_email>support@fraisr.com</support_email>
                <api>
                    <live> </live>
                    <sandbox>https://fraisr-test.herokuapp.com/</sandbox>
                    <cause>api/v1/causes</cause>
                    <category>api/v1/categories</category>
                </api>
            </static>
        </fraisrconnect>
    </default>
</config>